# Dependencies
node_modules
/.pnp
.pnp.js

# Production
/dist
/build

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Large media files  
public/brand_assets/PodcastVideo4k.mp4
